.pageHeader {
  color: orange;
  text-align: center;
  border-bottom: 1px solid grey;
  padding-bottom: 1vw;
  font-size: 30px;
}

.container {
  padding: 20px;
}

.commentBox {
  border-top: 2px solid grey;
  margin: 10px 10px 0px 10px;
}
.comment {
  margin: 25px;
  display: block;
  border-radius: 10px 10px;
  background-color: whitesmoke;
}

.name {
  position: relative;
  display: block;
  background-color: rgb(209, 204, 204);
  flex: 15%;
}
.date {
  position: absolute;
  top: 0px;
  right: 0;
}
