.pageHeader {
  color: orange;
  text-align: right;
  border-bottom: 1px solid grey;
}

.container {
  display: flex;
  justify-content: end;
  margin: 10px;
}

.anchor {
  padding-top: 20%;
}

#gifImage {
  padding-left: 50%;
}
