<html>
  <head>
    <title>Guest Book</title>
    <link rel="stylesheet" href="../css/guestBookStyle.css" />
  </head>
  <body>
    <p class="pageHeader"><a href="index.html"> << </a> Guest Book</p>
    <div class="container">
      <h1>Leave a comment</h1>
      <form action="submitComment" method="POST">
        <label for="venky">Name: </label>
        <input type="text" id="venky" name="name" />
        <br />
        <label for="commentBox">Comment: </label>
        <textarea name="comment" id="commentBox" cols="30" rows="4"></textarea>
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <div class="commentBox">
      <h2 style="text-align: center;";">COMMENTS</h2>
      __comments__
    </div>
  </body>
</html>
